* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}

body{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	line-height: 24px;
	min-height: 100%;
    box-sizing: border-box;
    padding-bottom: 100px;
}

@font-face {
    font-family: Palatino Linotype Regular; /* Гарнитура шрифта */
    src: url("./Palatino.ttf"); /* Путь к файлу со шрифтом */
}

.container{
    width: 90%;
	margin: 0 auto;
	max-width: 1600px; 
    padding-top: 8px;

}
.header{
    background-color: rgba(103, 31, 68, 0.7);
    height: 80px;
    width: 100%;
    z-index: 5;
    position: absolute;
    top: 0;
}
.inner__header{
    margin: 0 auto;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    max-width: 1280px;
    width: 100%;
}

.header__nav nav ul{
    display: flex;
}

.header__nav nav ul li{
    list-style: none;
}

.header__nav nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    margin-left: 115px;
    color: white;
    opacity: 1;
}

.first__section{
    background-image: url("../img/img-130.jpg");
    background-size: cover;
    height: 100vh;
    max-height: 1080px;
    position: relative;
}

.heading__block{
    border:rgb(146, 64, 106) groove 7px;
    height: 15%;
    width: 26%;
    position: absolute;
    margin-left: -13%;
    top: 150px;
    left: 50%;
    background: white;
    font-weight: 700;
    font-size: 2.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #671F44;
}

.heading__desc{
    position: relative;
    top: 60vh;
    left: 12%;
    padding: 20px 30px;
    background-color: #671F44;
    font-size: 2rem;
    font-weight: 700;
    color: white;
    width: 30%;
}

.heading__desc{
    line-height: 1.2;
    padding-left: 16px;
}


.about__us{
    background-color: #671F44;
    color: white;
    height: 100px;
    width: 200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 700;
}

.about__content{
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    width: 70%;

}

.about__image{
    width: 45%;
}

.about__image img{
    width: 100%;
    height: 100%;
}

.about__text{
    width: 45%;
    font-size: 22px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.work__time{
    margin-top: 30px;
}

.socials{
    margin-top: 20px;
}

.soc{
    text-align: left;
    margin: 5px;
    
}

.soc a{
    text-decoration: none;  
    color: black;
}

.soc a img{
    margin-bottom: -5px;
}

.menu__section{
    font-family: Palatino Linotype Regular, cursive;
    margin-bottom: 30px;
}
.violet{
    background-color: #7c2f57;  
}


.menu__wrapper{
    width: 70%;
    margin: 0 auto;
}

.category__name{
    text-align: center;
    text-transform: uppercase;
    background-color: white;
    padding: 20px;
    margin-bottom: 30px;
    border:rgb(146, 64, 106) groove 7px;
}

.menu__content{
    display: flex;

}

.menu__images{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.hot__images img{
    margin: 20px 0;
}

.items__wrapper{
    width: 50%;
    height: 100%;
}

.menu__items{
    height: 100%;
    margin: 0 auto;
    border:rgb(146, 64, 106) groove 7px;
    width: 70%;
    background-color: white;
    text-align: center;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
}

.menu__item{
    margin: 10px 5px;
    text-transform: uppercase;
}

.menu__images img{
    width: 100%;
    margin: 5px 0;
}

.item__name{
    font-size: 20px;
    font-weight: 500;

}

.item__desc{
    font-size: 10px;
    width: 70%;
    margin: 0 auto;
}

.sauces{
    margin-top: 30px;
    border:rgb(146, 64, 106) groove 7px;
    background-color: white;
    padding: 20px;
}

.sauce__name{
    text-align: center;
    margin-bottom: 20px;
    font-family: Palatino Linotype Regular, cursive;    
}

.sauces ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sauces ul li{
    list-style:circle;
}

.sauce__price{
    text-align: center;
    margin: 0 auto;
}

.menu__images.bird{
    overflow: hidden;
    display: block;
}

.menu__images.bird img{
    height: 900px;
    width: auto;
    transform: translateX(-30%);
}

.bottom__image img{
    width: 95%;
    height: 500px;
}

.cold{
    overflow: hidden;
    display: block;
}

.cold img{
    height: 1150px;
    transform: translateX(-20%);
    width: auto;
}

.cold__name{
    border: none;
    margin-bottom: 0;
    background-color: rgb(146, 64, 106);
    color: white
}

.cold__items{
    width: 100%;
    text-align: left;
    padding-left: 30px;
    margin: 0;
    border: none;
    height: 1150px;
}
.cold__items .item__desc{
    margin-left: 0;
}

.bird__items{
    height: 900px;
}

.salad__wrapper{
    width: 100%;
}
.salad{
    background-image: url("../img/beef-salad/beef-salad.jpg");
    background-size: cover;
}

.salad__name{
    width: 50%;
    margin: 20px auto;
}

.bird__salad{
    height: 600px;
    overflow: hidden;
    display: block;
}

.bird__salad img{
    transform: translateY(300px);
}

.bird__salad-items{
    height: 600px;
}

.reverse{
    flex-direction: row-reverse;
}

.fishsalad{
    background-image: url("../img/vegsalad/img-47-min.jpg");
    background-size: cover;
}

.first__dish{
    background-image: url("../img/first/img-22-min.jpg");
    background-size: cover;
}

.pasta{
    background-image: url("../img/pasta/img-100-min.jpg");
    background-size: cover;
}

.fork{
    background-image: url("../img/hot/img-75-min.jpg    ");
    background-size: cover;
}

.beer{
    background: url("../img/beer/beer1.jpg");
    background-size: cover;
}

.beer__name{
    width: 50%;
    border: none;
    margin-bottom: 0;
    background-color: white;
    color: black;
    font-size: 22px;
}

.beer__items{
    width: 100%;
    text-align: left;
    padding-left: 30px;
    margin: 0px;
    border: none;
    

}
.cold__items .item__desc{
    margin-left: 0;
}

.beer__content{
    flex-direction: column;
}

.beer__name1{
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
    border: none;
    margin-bottom: 0;
    background-color: rgb(146, 64, 106);
    color: white;

}

.drink__name{
    margin-top: 0;
    width: 100%;
    border: none;
    margin-bottom: 0;
    background-color: rgb(146, 64, 106);
    color: white;
    font-size: 22px;

}

.drink__items{
    padding-top: 0;
    width: 100%;
    text-align: center;
    padding-left: 30px;
    margin: 0px;
    border: none;
}

.defaultdrink__wrapper{
    height: 100%;
}

.defaultdrink__items{
    padding-top: 0;
    width: 100%;
    text-align: center;
    padding-left: 30px;
    margin: 0px;
    border: none;
}

.defaultdrink__name{
    margin-top: 0;
    width: 100%;
    border: none;
    padding: 30px;
    margin-bottom: 20px;
    background-color: rgb(146, 64, 106);
    color: white;
    font-size: 22px;
}

.tea__name{
    margin-top: 0;
    width: 100%;
    border: none;
    margin-bottom: 0;
    background-color: rgb(146, 64, 106);
    color: white;
    font-size: 22px;
}

.tea__items{
    padding-top: 20px;
    width: 100%;
    text-align: center;
    margin: 0px;
    border: none;
}

.tea__img img{
    width: 100%;
}


.dessert__items{
    padding-top: 20px;
    width: 100%;
    text-align: center;
    margin: 0px;
    border: none;
}

.dessert__name{
    margin-top: 0;
    width: 100%;
    border: none;
    margin-bottom: 0;
    background-color: rgb(146, 64, 106);
    color: white;
    font-size: 22px;
}

.ice{
    background-image: url(../img/ice/ice1.jpg); 
    background-size: cover;
}

.ice__name{
    margin-top: 0;
    width: 100%;
    border: none;
    padding: 30px;
    margin-bottom: 0;
    background-color: rgb(146, 64, 106);
    color: white;
    font-size: 22px;
}

.ice__items{
    padding-top: 20px;
    width: 100%;
    text-align: center;
    margin: 0px;
    border: none;
}

.pizza__name{
    margin-top: 0;
    width: 100%;
    border: none;
    padding: 30px;
    margin-bottom: 0;
    background-color: rgb(146, 64, 106);
    color: white;
    font-size: 22px;
}

.pizza__items{
    padding-top: 20px;
    width: 100%;
    text-align: center;
    margin: 0px;
    border: none;
}

.bake__name{
    margin-top: 0;
    width: 100%;
    border: none;
    padding: 30px;
    margin-bottom: 20px;
    background-color: rgb(146, 64, 106);
    color: white;
    font-size: 22px;
}

.bake__items{
    padding-top: 20px;
    width: 100%;
    text-align: center;
    margin: 0px;
    border: none;
}

.bake__items:first-child{
    padding-top: 0;
}

.bake__content{
    background-image: url(../img/bake/bake1.jpg);
    background-size: cover;
}




.vine1{
    background-image: url("../img/vine/vine1.jpg");
    background-size: cover;
}

.vine2{
    background-image: url("../img/vine/vine2.jpg");
    background-size: cover;
}

.vine__name1{
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
    border: none;
    margin-bottom: 0;
    background-color: rgb(146, 64, 106);
    color: white;
    margin-top: 10px;
}

.vine__wrapper{
    
    width: 50%;
}

.vine__items{
    width: 100%;
    text-align: left;
    padding-left: 30px;
    margin: 0px;
    border: none;
}

.vine__name{
    width: 50%;
    border: none;
}

.pizza{
    background-image: url(../img/pizza/pizza1.jpg);
    background-size: cover;
}

.dessert{
    background-image: url(../img/dessert/dessert1.jpg);
    background-size: cover;
}

.tea{
    background-image: url(../img/tea/tea2.jpg);
    background-size: cover;
}

.vine__content{
    flex-direction: column;
}

.conflict__items{
    padding-top: 0px;
    width: 100%;
    text-align: center;
    margin: 0px;
    border: none;
}

.conflict__name{
    
    border: none;
    background-color: rgb(146, 64, 106);
    width: 100%;
    color: white;
}

.conflict__content{
    background-image: url("../img/conflict/conflict1.jpg");
    background-size: cover;
}



.menu__wrapper.horizontal .menu__content{
    flex-direction: column;
}

.menu__wrapper.horizontal .menu__content .menu__images{
    width: 100%;
}

.menu__wrapper.horizontal .menu__content .menu__images img{
    transform: translateX(0);
    transform: translateY(-20%);
}

.menu__wrapper.horizontal .menu__content .items__wrapper{
    width: 100%;
    height: auto;
}

.menu__wrapper.horizontal .menu__content .items__wrapper .menu__items{
    height: auto;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}


/* ----------------------------------------------------------- слайдер -----------------------------------*/
.nav__slider{
    margin: 0 auto -20px;
	position: sticky;
	top: 0px;
	z-index: 10000;
	background: rgba(103, 31, 68, 1);
}

.glide__slide{
	text-align: center;
	padding: 5px 0;
}


@media screen and (min-width: 2000px){
    .glide__track{
        display: flex;
        justify-content: center;
    }
    
}


.glide__slides li a{
	text-decoration: none;
	font-size: 14px;
	color: white;
    font-weight: 700;
	text-align: center; 
	width: 100%;

}

.glide__slides li a:hover{
	color: rgb(161, 71, 118);
}

.glide{
	padding: 10px 0;
	margin: 20px auto;
	width: 100%;
}
/* --------------------------------VOOOOOOOOODKA----------------------*/
.vodka__head{
    background-color: rgb(146, 64, 106);
}

.vodka__headinner{
    width: 80%;
    margin: 0 auto;
    font-size: 14px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: flex-end;

}

.vodka__category{
    font-size: 25px;
    text-transform: uppercase;
}

.barnoemenu__category div{
    font-size: 20px;
    margin-top: 5px;
    text-transform: uppercase;
}

.vodka__content{
    display: flex;
    justify-content: space-between;
}

.vodka__name{
    font-size: 20px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.vodka__nameinner{
    width: 70%;
    text-transform: uppercase;
    padding: 5px;
    background-color: rgb(146, 64, 106);
    color: white;
}

.vodka__desc{
    font-size: 15px;
    padding: 5px;
    margin: 0 20px;
    width: 30%;
    display: flex;
    justify-content: space-between;
}

.vodka{
    width: 50%;
}

.vodka__oneitem{
    
    display: flex;
    justify-content: space-between;
    margin-top: 7.5px;
    padding: 5px;
}

.vodka__items{
    display: flex;
    flex-direction: column;
}

.vodka__item{
    padding-top: 5px;
    width: 70%;
}
.vodkaitem__desc{
    text-align: left;
    margin: 0;
    width: 100%;
}

.vodka__price{
    width: 30%;
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
    padding: 5px;
}


@media screen and (max-width: 500px){
	.glide__slides li a{
		font-size: 12px;
	
	}
}


@media screen and (max-width: 1400px){
    .container{
        width: 100%;
    }

    
    .menu__wrapper{
        width: 100%;
    }

    .about__content{
        width: 100%;
    }
    

}


@media screen and (max-width: 500px){
    
    /*.fishsalad,
    .salad,
    .first__dish,
    .pasta,
    .back{
        background: white;
    }*/

    .header__nav nav ul li a{
        font-size: 18px;
        margin-left: 30px;
        margin-right: 10px;
    }
    .category__name{
        font-size: 18px;
        width: 80%;
        margin: 20px auto;
    }

    .heading__desc{
        font-size: 20px;
        width: 60%;

    }
    .about__content{
        width: 100%;
        flex-direction: column;
    }
    .about__text{
        font-size: 14px;
        width: 100%;
    }
    .about__desc{
        width: 100%;
    }
    .about__image{
        width: 100%;
    }
    
    .menu__items{
        margin: 0;
        border: none;
    }

    

    .heading__block{
        width: 50%;
        margin-left: -25%;

    }

    
    .menu__images,
    .menu__images.hot__images{
        overflow: hidden;
        display: block;
    }
    
    .menu__images img{
        height: 240px;
        width: auto;
        transform: translateX(-20%);
    }
    .menu__images.bird img{
        height: 700px;
        width: auto;
        transform: translateX(-40%);
    }
    .menu__items.bird__items{
        height: 700px;
    }

    .menu__item{
        margin: 5px 0;
    }

    .cold img{
        height: 1230px;;
    }

    .menu__items.cold__items{
        height: 1100px;
    }
    .menu__wrapper{
        width: 100%;    
    }
    .items__wrapper{
        width: 50%;
        margin: 0;
        padding: 0;
    }

    .menu__items{
        height: auto;
        width: 100%;
        padding-top: 0;
        margin-bottom: 20px;
        /*
        flex-wrap: wrap;
        flex-direction: row;*/
    }
    .back{
        background-position: 40%;
    }
    .item__name{
        font-size: 13px;
    }
    .category__name,
    .category__name.salad__name{
        font-size: 14px;
    }


    .item__weight,
    .divider,
    .item__price{
        font-size: 9px;
    }

    .reverse{
        flex-direction: row;
    }


    .sauces{
        border: none;
    }
    .sauces ul{
        flex-direction: column;
    }
    .sauces ul li{
        margin: 0 20px;
    }
    .defaultdrink__items{
        padding: 0;
    }

    .menu__items.bird__items.bird__salad-items{
        height: 600px;
        padding-bottom: 0   ;
    }

    .menu__wrapper.horizontal .menu__content .menu__images img{
       
        transform:translate(-25%, -25%)
        
    }
    .menu__wrapper.horizontal .menu__content .menu__images{
        width: 100%;
        height: 300px;
    }

    .hot__images img{
        height: 231px;
        transform: translate(-20%, 0);
    }

    .hot__images3{
        display: block;
        overflow: hidden;
    }

    .hot__images3 img{
        height: 450px;
        transform: translate(-20%, 0);
    }

    .hot__images3 img:first-of-type{
        transform: translate(-30%, 0);
    }

    .menu__images.hot__images3.icecream img{
        height: 300px;
    }

    .menu__images.hot__images3.icecream img:nth-child(2){
        transform:translate(0, 0);
        width: 100%;
    }

    .tea__image img{
        height: 700px;
    }

    .menu__section.vine2.back{
        background-position: 7%;
    }

    .drink__items,
    .vine__items{
        padding: 0;
    }
    .vodka__content{
        display: flex;
        flex-direction: column;
    }
    .vodka{
        width: 100%;
    }

}