* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}

body{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	line-height: 24px;
	min-height: 100%;
    box-sizing: border-box;
    padding-bottom: 100px;
}

@font-face {
    font-family: Palatino Linotype Regular; /* Гарнитура шрифта */
    src: url("./Palatino.ttf"); /* Путь к файлу со шрифтом */
}

.container{
    width: 90%;
	margin: 0 auto;
	max-width: 1600px; 
    padding-top: 30px;

}
.header{
    background-color: rgba(103, 31, 68, 0.7);
    height: 80px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}
.inner__header{
    margin: 0 auto;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    max-width: 1280px;
    width: 100%;
}

.header__nav nav ul{
    display: flex;
}

.header__nav nav ul li{
    list-style: none;
}

.header__nav nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    margin-left: 115px;
    color: white;
    opacity: 1;
}

.first__section{
    background-image: url("../img/img-130.jpg");
    background-size: cover;
    height: 100vh;
    max-height: 1080px;
    position: relative;
}

.heading__block{
    border:rgb(146, 64, 106) groove 7px;
    height: 15%;
    width: 26%;
    position: absolute;
    margin-left: -13%;
    top: 150px;
    left: 50%;
    background: white;
    font-weight: 700;
    font-size: 2.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #671F44;
}

.heading__desc{
    position: relative;
    top: 60vh;
    left: 12%;
    padding: 20px 30px;
    background-color: #671F44;
    font-size: 2rem;
    font-weight: 700;
    color: white;
    width: 30%;
}

.heading__desc{
    line-height: 1.2;
    padding-left: 16px;
}


.about__us{
    background-color: #671F44;
    color: white;
    height: 100px;
    width: 200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 700;
}

.about__content{
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    width: 70%;

}

.about__image{
    width: 45%;
}

.about__image img{
    width: 100%;
    height: 100%;
}

.about__text{
    width: 45%;
    font-size: 22px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.work__time{
    margin-top: 30px;
}

.socials{
    margin-top: 20px;
}

.soc{
    text-align: left;
    margin: 5px;
    
}

.soc a{
    text-decoration: none;  
    color: black;
}

.soc a img{
    margin-bottom: -5px;
}

.menu__section{
    font-family: Palatino Linotype Regular, cursive;
    padding-bottom: 40px;
    margin-bottom: 30px;
}
.violet{
    background-color: #7c2f57;  
}


.menu__wrapper{
    width: 70%;
    margin: 0 auto;
}

.category__name{
    text-align: center;
    text-transform: uppercase;
    background-color: white;
    padding: 20px;
    margin-bottom: 30px;
    border:rgb(146, 64, 106) groove 7px;
}

.menu__content{
    display: flex;

}

.menu__images{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.hot__images img{
    margin: 20px 0;
}

.items__wrapper{
    width: 50%;
    height: 100%;
}

.menu__items{
    height: 100%;
    margin: 0 auto;
    border:rgb(146, 64, 106) groove 7px;
    width: 70%;
    background-color: white;
    text-align: center;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
}

.menu__item{
    margin: 20px 0;
    text-transform: uppercase;
}

.menu__images img{
    width: 100%;
}

.item__name{
    font-size: 20px;
    font-weight: 500;

}

.item__desc{
    font-size: 10px;
}

.sauces{
    margin-top: 30px;
    border:rgb(146, 64, 106) groove 7px;
    background-color: white;
    padding: 20px;
}

.sauce__name{
    text-align: center;
    margin-bottom: 20px;
    font-family: Palatino Linotype Regular, cursive;    
}

.sauces ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sauces ul li{
    list-style:circle;
}

.sauce__price{
    text-align: center;
    margin: 0 auto;
}

.menu__images.bird{
    overflow: hidden;
    display: block;
}

.menu__images.bird img{
    height: 900px;
    width: auto;
    transform: translateX(-30%);
}

.bottom__image img{
    width: 95%;
    height: 500px;
}

.cold{
    overflow: hidden;
    display: block;
}

.cold img{
    height: 1200px;
    transform: translateX(-20%);
    width: auto;
}

.cold__name{
    border: none;
    margin-bottom: 0;
    background-color: rgb(146, 64, 106);
    color: white
}

.cold__items{
    width: 100%;
    text-align: left;
    padding-left: 30px;
    margin: 0;
    border: none;
    height: 1150px;
}

.bird__items{
    height: 900px;
}

.salad__wrapper{
    width: 100%;
}
.salad{
    background-image: url("../img/beef-salad/beef-salad.jpg");
    background-size: cover;
}

.salad__name{
    width: 50%;
    margin: 20px auto;
}

.bird__salad{
    height: 600px;
    overflow: hidden;
    display: block;
}

.bird__salad img{
    transform: translateY(300px);
}

.bird__salad-items{
    height: 600px;
}

.reverse{
    flex-direction: row-reverse;
}

.fishsalad{
    background-image: url("../img/vegsalad/img-47-min.jpg");
    background-size: cover;
}

.first__dish{
    background-image: url("../img/first/img-22-min.jpg");
    background-size: cover;
}

.pasta{
    background-image: url("../img/pasta/img-100-min.jpg");
    background-size: cover;
}

.fork{
    background-image: url("../img/hot/img-75-min.jpg    ");
    background-size: cover;
}


@media screen and (max-width: 1400px){
    .container{
        width: 100%;
    }

    
    .menu__wrapper{
        width: 100%;
    }

    .about__content{
        width: 100%;
    }
    

}


@media screen and (max-width: 500px){
    .fishsalad,
    .salad{
        background: white;
    }
    .header__nav nav ul li a{
        font-size: 18px;
        margin-left: 30px;

    }
    .category__name{
        font-size: 18px;
        width: 80%;
        margin: 20px auto;
    }

    .heading__desc{
        font-size: 20px;
        width: 60%;

    }
    .about__content{
        width: 100%;
        flex-direction: column;
    }
    .about__text{
        font-size: 14px;
        width: 100%;
    }
    .about__desc{
        width: 100%;
    }
    .about__image{
        width: 100%;
    }

    .menu__items{
        margin: 0;
        width: 100%;
    }

    

    .heading__block{
        width: 50%;
        margin-left: -25%;

    }

    .menu__images{
        display: none;
    }
    .menu__images.bird{
        display: none;
    }
    .menu__wrapper{
        width: 100%;    
    }
    .items__wrapper{

        width: 100%;
    }
    .menu__items{
        height: auto;
    }
    .sauces ul{
        flex-direction: column;
    }
    .sauces ul li{
        margin: 0 20px;
    }
}